<h3>Dear <%= @order.name %></h3>

<p>Thank you for your recent order form the Pragmatic Store.</p>

<div style="color: green">
	You ordered the followed items:

	<%= render @order.line_items %>
</div>
<hr>

<p>We'll send you a separate email when your order ships.</p>